<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widt=device, initial-scale=1.0">
    <title>Roda's Blog | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>