<html>

    <%- include('./partials/head.ejs') %> 
    
    <body>

        <%- include('./partials/navbar.ejs') %> 

        <div class="about content">
            <h2>About us</h2>
        </div>

        <%- include('./partials/footer.ejs') %> 
        
    </body>
</html>